<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}GoodSolver</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">GoodSolver</a>
        <a href="{{ url_for('admin') }}">Admin</a>
        <a href="{{ url_for('create') }}">Create</a>
        <a href="{{ url_for('expert') }}">Expert</a>
        <a href="{{ url_for('rankings') }}">Rankings</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
