{% extends 'base.html' %}

{% block content %}
    <h1>Create</h1>
    <h4> Create a new ranking!</h4>
    <form method="POST" action="{{url_for('create_rankings')}}">
        <label for="name">Name your ranking</label>
        <input type="text" id="name" name="name">
        <br>
        <br>
        <label for="alternatives">Add alternatives</label>
        <input type="text" id="alternatives" name="alternatives">
        <br>
        <br>
        <label for="criterions">Add criterions</label>
        <input type="text" id="criterions" name="criterions">
        <br>
        <br>
        <label for="experts">Add experts</label>
        <input type="text" id="experts" name="experts">
        <br>
        <br>
        <label for="selected_start_date">Select a start date:</label>
        <input type="date" id="selected_start_date" name="selected_start_date">
        <br>
        <br>
        <label for="selected_end_date">Select an end date:</label>
        <input type="date" id="selected_end_date" name="selected_end_date">
        <br>
        <br>
        <label for="scale">Choose scale type(default fundamental):</label>
        <input type="text" id="scale" name="scale" value="1 2 3 4 5 6 7 8 9">
        <br>
        <br>
        <input type="submit">
    </form>
{% endblock %}
```