{% extends 'components/base.html' %}

{% block content %}
    <div class="container">
    {% include 'components/result.html' %}
    <h1>Log in as expert</h1>
    <form action="/expert" method="get">
        <select name="id">
            {% for expert in experts %}
                <option value="{{ expert.id }}">[{{expert.id}}] {{ expert.name }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="action" value="login">
        <input type="submit" value="Login">
    </form>
    </div>
{% endblock %}
```