{% extends 'components/base.html' %}

{% block title %}Survey - {% endblock %}

{% block content %}
    <div class="container">
    {% include 'components/result.html' %}
    <h1>Which one do you prefer?</h1>
    <h2>Criteria: {{criterion.name}}</h2>
    <div class="altcontainer">
        <h2>{{alt1.name}}</h2>
        <h2> - </h2>
        <h2>{{alt2.name}}</h2>
    </div>
    <form action="{{ url_for('scenarios_complete', model_id=model_id, expert_id=expert_id, data_id=data_id, alternative1_id=alt1.id, alternative2_id=alt2.id, criterion_id=criterion.id) }}" method="post">
        <input type="range" name="rangeSlider" min="{{1-(scales|length)}}" max="{{(scales|length)-1}}" value="0" oninput="updateRangeValue(this.value, [{% for scale in scales %}{{ scale.value }},{% endfor %}], {{scales|length}})">
        <p id="rangeValue">1 : 1</p>
        <input type="submit" value="Submit my answer">
    </form>
    <script>
        function updateRangeValue(value, scales_value, scales_length) {
            var rangeValueElement = document.getElementById("rangeValue");
            var value = parseInt(value);
            var scale_value = scales_value[Math.abs(value)];

            if (value < 0) {
                rangeValueElement.innerText = scale_value + " : 1";
            } else {
                rangeValueElement.innerText = "1 : " + (scale_value);
            }
        }
    </script>
    </div>
    {% include 'components/footer.html' %}
{% endblock %}
```
