{% extends 'components/base.html' %}

{% block title %}Scenario Panel - {% endblock %}

{% block content %}
<div class="container">
    {% include 'components/result.html' %}
    <h1><a href="{{ url_for('scenarios_view', scenario_id=scenario_id) }}">Scenario Panel</a></h1>
    <h2>List of current alternatives</h2>
    {% include 'components/alternatives_list.html' %}
    <h2> Add a new alternative</h2>
    <form action="/scenarios/add_alternative" method="post">
        <input type="text" name="alternative_name" placeholder="Name">
        <input type="text" name="alternative_description" placeholder="Description">
        <input type="hidden" name="scenario_id" value="{{ scenario_id }}">
        <input type="submit" value="Add">
    </form>
    <h2> Delete an alternative</h2>
    <form action="/scenarios/delete_alternative" method="post">
        <select name="alternative_id">
            {% for alternative in alternatives %}
            <option value="{{ alternative.id }}">{{ alternative.name }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="scenario_id" value="{{ scenario_id }}">
        <input id="delete-button" type="submit" value="Delete">
</div>
{% include 'components/footer.html' %}
{% endblock %}
```