{% extends 'components/base.html' %}
{% block content %}
<div class="container">
    {% include 'components/result.html' %}
    <h1><a href="{{ url_for('scenarios_view', scenario_id=scenario_id) }}">Scenario Panel</a></h1>
    <h2>Current scale values</h2>
    {% include 'components/scale_list.html' %}
    <h2> Add a new scale value</h2>
    <form action="/scenarios/add_scale" method="post">
        <input type="Float" name="value" placeholder="Value">
        <input type="text" name="description" placeholder="Description">
        <input type="hidden" name="scenario_id" value="{{ scenario_id }}">
        <input type="submit" value="Add">
    </form>
    <h2> Delete an scale value</h2>
    <form action="/scenarios/delete_scale" method="post">
        <select name="scale_id">
            {% for scale in scales %}
            <option value="{{ scale.id }}">{{ scale.value }} - {{ scale.description}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="scenario_id" value="{{ scenario_id }}">
        <input id="delete-button" type="submit" value="Delete">
    </form>
</div>
{% endblock %}
```